.cards1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    opacity: 1;
    gap: 32px;
    padding-left:40px;
    margin-top:15px;
    padding-right:40px;
}
 
 
.tile-item1{
   display:flex;
   flex-direction:column;
   background-color: var(--Layer-layer-02, #FFFFFF) !important;
    box-shadow: 0px 7px 10px 0px #BCAAA033;
  width: 316px;
  height:107px;
  gap:10px;
  padding-left:10px;
 
}
 
.count1{
font-family: IBM Plex Sans;
font-weight: 400;
font-style: Regular;
font-size: 40.6px;
line-height: 40.6px;
letter-spacing: 0.32px;
color: var(--Text-text-primary, #161616);
 
 
}
 
.inner11{
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-between;
opacity: 1;
padding-top:5px;
}
 
.summary-head1{
font-family: Fixed/Body/Font family;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.16px;
color: var(--Text-text-primary, #161616);
opacity: 1;
}
 
.approve1{
width: 16px;
height: 16px;
opacity: 1;
background-color:transparent;
background: #FFFFFF00;
background-blend-mode: multiply;
 object-fit: contain;
 padding:0px;
 margin:12px 17px 0px 0px;
}

.ellipsis1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}